{% include 'home.html' %}

{% block content %}
  <div class="flex h-screen justify-center items-center bg-gray-100">
    <form method="POST" class="max-w-sm w-full mx-auto bg-white p-6 border border-gray-300 rounded-lg shadow-lg">
      {% csrf_token %}
      {% for field in form.visible_fields %}
        <div class="mb-4">
          <label class="block text-gray-700 text-sm font-bold mb-2" for="{{ field.id_for_label }}">{{ field.label }}</label>
          <input class="mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50" type="text" name="{{ field.name }}" id="{{ field.id_for_label }}" />
          {% if field.help_text %}
            <p class="text-gray-600 text-xs italic">{{ field.help_text }}</p>
          {% endif %}
          {% for error in field.errors %}
            <p class="text-red-500 text-xs italic">{{ error }}</p>
          {% endfor %}
        </div>
      {% endfor %}
      <button type="submit" class="w-full bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded transition ease-in duration-200">Guardar</button>
    </form>
  </div>
{% endblock %}
